@using CardGame.Client.Instances.Cards

<div class="game-card" style="background-image: url('images/cards/@(Card.Base.Art).png');"
     data-toggle="tooltip" data-placement="right" title="@Card.Base.Description">
    <div class="card-name">
        @Card.Base.Name
    </div>
    <div class="mana-orb">
        @Card.ManaCost
    </div>
    @if (Card is CreatureCardInstance Creature)
    {
        <div class="attack-orb">
            @Creature.Attack
        </div>
        <div class="health-orb">
            @Creature.Health
        </div>
    }
</div>

@code {
    [Parameter] public CardInstance Card { get; set; }
}
