@page "/"

@if (!GameStarted)
{
    <EditForm Model="connectionInfo">
        <label>Host</label>
        <InputText @bind-Value="connectionInfo.Host" />
        <label>Port</label>
        <InputNumber @bind-Value="connectionInfo.Port" />
        <label>Key</label>
        <InputText @bind-Value="connectionInfo.Key" />
        <label>Name</label>
        <InputText @bind-Value="connectionInfo.Name" />
        <button class="btn btn-primary" @onclick="Connect">Connect</button>
    </EditForm>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto">
                <label><b>Opponent</b>: @Opponent.Name</label>
                <br />
                <label><b>Health</b>: @Opponent.CurrentHealth</label>
                <br />
                <label><b>Mana</b>: @Opponent.CurrentMana / @Opponent.MaximumMana</label>
                <br />
                <label><b>Hand</b>: @Opponent.HandSize</label>
                <br />
                <label><b>Deck</b>: @Opponent.DeckSize</label>
                <br />
                <label><b>Graveyard</b>: @Opponent.Graveyard.Count</label>
            </div>
        </div>
        <div class="row">
            <p style="color: orange;">OPPONENT'S FIELD</p>
            <br />
            @foreach (var card in Opponent.Field)
            {
                <div class="col-auto">
                    <label>@card.Base.Name ATK: @card.Attack HP: @card.Health Can attack: @card.CanAttack</label>
                </div>
            }
        </div>
        <div class="row">
            <p style="color: orange;">MY FIELD</p>
            <br />
            @foreach (var card in Me.Field)
            {
                <div class="col-auto">
                    <label>@card.Base.Name ATK: @card.Attack HP: @card.Health Can attack: @card.CanAttack</label>
                </div>
            }
        </div>
        <div class="row">
            <p style="color: orange;">MY HAND</p>
            <br />
            @foreach (var card in Me.Hand)
            {
                <div class="col-auto">
                    <label>@card.Base.Name MC: @card.ManaCost</label>
                </div>
            }
        </div>
        <div class="row">
            <div class="col">
                <label><b>Me</b>: @Me.Name</label>
                <br />
                <label><b>Health</b>: @Me.CurrentHealth</label>
                <br />
                <label><b>Mana</b>: @Me.CurrentMana / @Me.MaximumMana</label>
                <br />
                <label><b>Deck</b>: @Opponent.DeckSize</label>
                <br />
                <label><b>Graveyard</b>: @Opponent.Graveyard.Count</label>
            </div>
        </div>
    </div>

    @if (client.Game.MyTurn)
    {
        <p style="color: orange;">CHOOSE YOUR ACTION</p>
        <br />
        <button class="btn btn-primary" @onclick="PlayCard">Play card</button>
        <button class="btn btn-primary" @onclick="AttackPlayer">Attack player</button>
        <button class="btn btn-primary" @onclick="AttackCreature">Attack creature</button>
        <button class="btn btn-primary" @onclick="EndTurn">End turn</button>
        <button class="btn btn-danger" @onclick="Surrender">Surrender</button>
    }
}