@page "/test"

<!--
This page is used exclusively for UI development.
-->

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="card" style="width: 200px;">
                <div class="card-body">
                    <h5 class="card-title">@Opponent.Name</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item health-info">@Opponent.CurrentHealth / @Opponent.InitialHealth</li>
                    <li class="list-group-item mana-info">@Opponent.CurrentMana / @Opponent.MaximumMana</li>
                </ul>
            </div>
        </div>
        <div class="col-10">
            @for(var i = 0; i < Opponent.HandSize; i++)
            {
                <FaceDownCard />
            }
        </div>
    </div>
    <div class="row mt-3">
        <div class="col align-self-stretch" />
        @foreach (var card in Opponent.Field)
        {
            <div class="col-auto">
                <FaceUpCard Card="card" />
            </div>
        }
        <div class="col align-self-stretch" />
    </div>
    <div class="row mt-1">
        <div class="col align-self-stretch" />
        @foreach (var card in Me.Field)
        {
            <div class="col-auto">
                <FaceUpCard Card="card" />
            </div>
        }
        <div class="col align-self-stretch" />
    </div>
    <div class="row mt-3">
        <div class="col-2">
            <div class="card" style="width: 200px;">
                <div class="card-body">
                    <h5 class="card-title">@Me.Name</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item health-info">@Me.CurrentHealth / @Me.InitialHealth</li>
                    <li class="list-group-item mana-info">@Me.CurrentMana / @Me.MaximumMana</li>
                </ul>
            </div>
        </div>
        <div class="col-10">
            @foreach (var card in Me.Hand)
            {
                <FaceUpCard Card="card" />
            }
        </div>
    </div>
</div>

<br />
<button class="btn btn-primary">Play card</button>
<button class="btn btn-primary">Attack player</button>
<button class="btn btn-primary">Attack creature</button>
<button class="btn btn-primary">End turn</button>
<button class="btn btn-danger">Surrender</button>
<button class="btn btn-info" @onclick="ToastInfo">Toast</button>